<% layout("layouts/boilerplate") -%>
<body>
    <div class="row mt-3">
      <div class="col-8 offset-2">
    <h3> Create a new Listing</h3>
    <form method="post" action="/listing/" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="Title" class="form-lable">Title</label>
         <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
         <div class="valid-feedback">Title looks good</div>
         <div class="invalid-feedback">Title should be valid</div>
        </div>
     
     <div class="mb-3">
         <label for="description" class="form-lable" >description</label>
         <textarea  name="listing[description]" placeholder="Enter description" class="form-control" required> </textarea>
         <div class="invalid-feedback">Discription should be valid</div>
     </div>
    
     <div class="mb-3">
        <label for="image" class="form-lable">image link</label>
        <input type="text" name="listing[image]"  placeholder="Enter image Link/URL" class="form-control" >
     </div>
   
     <div class="row">
           <div class="mb-3 col-md-4">
               <label for="price" class="form-lable">price</label>
               <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" required>
               <div class="valid-feedback">price looks good</div>
               <div class="invalid-feedback">price should be valid</div>
           </div>

           <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">country</label>
            <input type="text" name="listing[country]" placeholder="Enter your country" class="form-control" required>
            <div class="valid-feedback">country looks good</div>
            <div class="invalid-feedback">country should be valid</div>
         </div>
     </div>
     <div class="mb-3">
        <label for="location" class="form-lable">location</label>
        <input type="text" name="listing[location]" placeholder="Enter your location" class="form-control" required>
        <div class="valid-feedback">Location looks good</div>
        <div class="invalid-feedback">Location should be valid</div>
     </div>
     <button class="btn btn-dark add-btn mt-3">Add</button>
     <br><br>
    </form>
 </div>
</div>
</body>
